.contact-us-log img {
  height: 110px;
  margin-top: 25%;
}

.contact-form-wrapper {
  width: 50%;
  background: #c1c1c1b8!important;
}
.fancy-bg {
  background: linear-gradient(to left, #4ecc9d, #73ecf9);
  min-height: 100vh;
}
.contact-record .key {
  font-weight: 600;
}
.contact-record .value {
  padding-left: 9px;
}
@media (min-width: 768px) {
  .contact-information {
    position: absolute;
    bottom: 0;
  }
}
@media (max-width: 768px) {
  .contact-form-wrapper {
    width: 80%;
  }
  .contact-us-log img {
    margin-top: 0;
  }
}
