.contact-us-log img {
  height: 110px;
  margin-top: 25%;
}

.contact-form-wrapper {
  width: 90%;
  background: #ff9204 !important;
  font-weight: 600;
}
.fancy-bg {
  background: linear-gradient(to left, hsl(249, 100%, 54%), #0400f7);
}
.contact-record .key {
  font-weight: 600;
}
.contact-record .value {
  padding-left: 9px;
  color: #fff;
}
@media (min-width: 768px) {
  .contact-information {
    position: absolute;
    bottom: 0;
  }
}

@media (max-width: 768px) {
  .contact-form-wrapper {
    width: 80%;
  }
  .contact-us-log img {
    margin-top: 0;
  }
}

@media (max-width: 567px) {
  .contact-form-wrapper {
    width: 98%;
  }
}
.map-wrapper {
  height: 275px !important;
  background: white;
}
