#special-order {
  background: linear-gradient(to left, #00d18b, #24ff41);
}

.special-offer-img-wrapper img {
  width: 100%;
}

@media (max-width: 768px) {
  .special-offer-img-wrapper img {
    width: 80%;
  }
  .special-offer-message h2 {
    text-align: center;
    margin: 20px;
  }
}
.offer-price {
  font-weight: 700;
}
.offer-name {
  font-weight: 600;
}
@media (min-width: 768px) {
  #special-order > .container {
    min-width: 768px;
  }
}
