nav .auth-link a{
  color: #ffffff;
}
nav .auth-link {
  position: absolute;
  right: 40px;
  top: 16px;
}
.user-menu-dropdown{
  position: absolute !important;
  right: 20px;
}
.link-style {
  font-weight: 800;
  font-size: 1em;
  font-family: 'Lato', 'Helvetica', 'Arial', 'sans-serif';
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #222222 !important;
  cursor: pointer;
}

.just-mobile {
  display: none;
}

.just-desktop {
  display: block;
}

.submenu-link {
  color: #222222;
  font-size: 1em;
  cursor: pointer;
}
.main-logo {
  height: 150px;
  transition: height 0.2s ease-out;
}
.user-menu-button {
  font-size: 0.45em !important;
}
.user-menu-wrapper {
  right: 65px;
  position: absolute;
}
#mainNav {
  user-select: none;
  text-align: center;
}
.big-logo {
  height: 70px;
}
#mainNav.colored .main-logo {
  height: 80px;
}
#mainNav.colored .navbar-brand {
  padding: 0;
}
#mainNav.colored .navbar-nav > li {
  padding: 15px 3px;
}
.navbar-icon {
  font-size: 3.2em;
  color: white;
}
a.nav-link {
  font-weight: 800;
}
#mainNav {
  border-color: rgba(34, 34, 34, 0.05);
  background-color: white;
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
  font-family: 'Catamaran', 'Helvetica', 'Arial', 'sans-serif';
  font-weight: 200;
  letter-spacing: 1px;
}
#mainNav.navbar {
  padding-top: 0px;
  padding-bottom: 0px;
}
#mainNav .navbar-brand {
  margin: 0 auto;
}
#mainNav .navbar-brand:hover,
#mainNav .navbar-brand:focus {
  color: #adff42;
}
#mainNav .navbar-toggler {
  font-size: 18px;
  padding: 8px 10px;
  color: #222222;
}
ul.navbar-nav {
  margin: 0 auto;
}
.nav-item button.button-submenu:hover span {
  border-top: 4px dashed #ffffff !important;
}
.nav-item button.button-submenu span {
  border-top: 4px dashed #ffffff;
}
.nav-item button.button-submenu:hover {
  color: #ffffff;
}
.nav-item button.button-submenu {
  color: rgba(255, 255, 255, 0.7);
  font-size: 1em !important;
  font-family: 'Lato', 'Helvetica', 'Arial', 'sans-serif';
  letter-spacing: 2px;
  font-weight: 800;
  margin-top: 4px;
}

button.button-submenu i.fa {
  color: rgba(255, 255, 255, 0.7);
  font-size: 1.67em !important;
}
.user-submenu {
  left: 40px;

}
#mainNav .navbar-nav > li {
  padding-top: 59px;
}
#mainNav .navbar-nav > li > a {
  font-size: 1em;
  font-family: 'Lato', 'Helvetica', 'Arial', 'sans-serif';
  letter-spacing: 2px;
  text-transform: uppercase;
}
#mainNav .navbar-nav > li > a.active {
  color: #adff42 !important;
  font-weight: 900;
  background-color: transparent;
}
#mainNav .navbar-nav > li > a.active:hover {
  background-color: transparent;
}
#mainNav .navbar-nav > li > a,
#mainNav .navbar-nav > li > a:focus {
  color: #222222;
}
#mainNav .navbar-nav > li > a:hover,
#mainNav .navbar-nav > li > a:focus:hover {
  color: #fdcc52;
}
@media (min-width: 992px) {
  #mainNav {
    border-color: transparent;
    background-color: transparent;
  }
  #mainNav.colored {
    background-color: #0c0c0c7d;
  }
  #mainNav .navbar-brand {
    color: fade(white, 70%);
  }
  #mainNav .navbar-brand:hover,
  #mainNav .navbar-brand:focus {
    color: rgb(255, 0, 0);
  }
  #mainNav .navbar-nav > li > a,
  #mainNav .navbar-nav > li > a:focus {
    color: rgba(255, 255, 255, 0.7);
  }
  #mainNav .navbar-nav > li > a:hover,
  #mainNav .navbar-nav > li > a:focus:hover {
    color: #ff8533;
  }
  #mainNav.navbar-shrink {
    border-color: rgba(34, 34, 34, 0.1);
    background-color: rgb(0, 132, 255);
  }
  #mainNav.navbar-shrink .navbar-brand {
    color: #222222;
  }
  #mainNav.navbar-shrink .navbar-brand:hover,
  #mainNav.navbar-shrink .navbar-brand:focus {
    color: #fdcc52;
  }
  #mainNav.navbar-shrink .navbar-nav > li > a,
  #mainNav.navbar-shrink .navbar-nav > li > a:focus {
    color: #222222;
  }
  #mainNav.navbar-shrink .navbar-nav > li > a:hover,
  #mainNav.navbar-shrink .navbar-nav > li > a:focus:hover {
    color: #fdcc52;
  }
}
.menuButton {
  background: transparent;
  border: none;
}
.menuButton .nav-item a.nav-link:hover {
  color: #ff8533;
}
.menuButton .nav-item a.nav-link {
  padding-top: 7px;
  text-transform: uppercase;
  font-size: 1.01em;
  color: rgba(255, 255, 255, 0.7);
}
.tiny-logo {
  display: none;
}
.language-mobile-wrapper .switch-language-wrapper {
  display: none;
}
@media (max-width: 1000px) {
  .just-mobile {
    display: block;
  }
  .just-desktop {
    display: none;
  }
  .tiny-logo {
    display: block;
    height: 60px;
  }
  #mainNav .navbar-nav > li {
    padding-top: 10px;
  }
  .user-menu-dropdown {
    display: none !important;
  }
  .language-mobile-wrapper .switch-language-wrapper {
    display: block;
    position: relative;
    top: 0;
  }
  .switch-language-wrapper {
    display: none;
  }
  button.button-submenu i.fa {
    color: rgba(2, 217, 255, 0.521);
  }
  .nav-item button.button-submenu {
    color: #222222 !important;
  }
  .nav-item button.button-submenu span {
    display: none;
  }
  .menuButton .nav-item a.nav-link {
    color: #222222;
  }
  .main-logo {
    display: none;
  }
  .switch-language-wrapper {
    position: absolute;
    top: 36px;
  }
}
button.menuButton {
  color: rgba(255, 255, 255, 0.7) !important;
  font-size: 1.35em;
  font-weight: 900;
  padding-top: 2px;
}
