.main-logo {
  height: 150px;
  transition: height 0.2s ease-out; 
}
#mainNav {
  user-select: none;
  text-align: center;
}
.big-logo {
  height: 150px;
}
#mainNav.colored .main-logo {
  height: 70px;
}
#mainNav.colored .navbar-brand {
  padding: 0;
}
.navbar-icon {
  font-size: 3.2em;
  color: white;
}
a.nav-link {
  font-weight: 800;
}
#mainNav {
  border-color: rgba(34, 34, 34, 0.05);
  background-color: white;
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
  font-family: 'Catamaran', 'Helvetica', 'Arial', 'sans-serif';
  font-weight: 200;
  letter-spacing: 1px;
}
#mainNav.navbar {
  padding-top: 0px;
  padding-bottom: 0px;
}
#mainNav .navbar-brand {
  margin: 0 auto;
}
#mainNav .navbar-brand:hover,
#mainNav .navbar-brand:focus {
  color: #adff42;
}
#mainNav .navbar-toggler {
  font-size: 18px;
  padding: 8px 10px;
  color: #222222;
}
#mainNav .navbar-nav > li > a {
  font-size: 1em;
  font-family: 'Lato', 'Helvetica', 'Arial', 'sans-serif';
  letter-spacing: 2px;
  text-transform: uppercase;
}
#mainNav .navbar-nav > li > a.active {
  color: #adff42 !important;
  font-weight: 900;
  background-color: transparent;
}
#mainNav .navbar-nav > li > a.active:hover {
  background-color: transparent;
}
#mainNav .navbar-nav > li > a,
#mainNav .navbar-nav > li > a:focus {
  color: #222222;
}
#mainNav .navbar-nav > li > a:hover,
#mainNav .navbar-nav > li > a:focus:hover {
  color: #fdcc52;
}
@media (min-width: 992px) {
  #mainNav {
    border-color: transparent;
    background-color: transparent;
  }
  #mainNav.colored {
    background-color: #0c0c0c7d;
  }
  #mainNav .navbar-brand {
    color: fade(white, 70%);
  }
  #mainNav .navbar-brand:hover,
  #mainNav .navbar-brand:focus {
    color: white;
  }
  #mainNav .navbar-nav > li > a,
  #mainNav .navbar-nav > li > a:focus {
    color: rgba(255, 255, 255, 0.7);
  }
  #mainNav .navbar-nav > li > a:hover,
  #mainNav .navbar-nav > li > a:focus:hover {
    color: #ff8533;
  }
  #mainNav.navbar-shrink {
    border-color: rgba(34, 34, 34, 0.1);
    background-color: rgb(0, 132, 255);
  }
  #mainNav.navbar-shrink .navbar-brand {
    color: #222222;
  }
  #mainNav.navbar-shrink .navbar-brand:hover,
  #mainNav.navbar-shrink .navbar-brand:focus {
    color: #fdcc52;
  }
  #mainNav.navbar-shrink .navbar-nav > li > a,
  #mainNav.navbar-shrink .navbar-nav > li > a:focus {
    color: #222222;
  }
  #mainNav.navbar-shrink .navbar-nav > li > a:hover,
  #mainNav.navbar-shrink .navbar-nav > li > a:focus:hover {
    color: #fdcc52;
  }
}
.menuButton {
  background: transparent;
  border: none;
}
.menuButton .nav-item a.nav-link:hover {
  color: #ff8533;
}
.menuButton .nav-item a.nav-link {
  padding-top: 7px;
  text-transform: uppercase;
  font-size: 1.01em;
  color: rgba(255, 255, 255, 0.7);
}
@media (max-width: 991px) {
  .menuButton .nav-item a.nav-link {
    color: #222222;
  }
  .main-logo {
    height: 70px;
    padding-left: 35px;
  }
  .switch-language-wrapper {
    position: absolute;
    top: 24px;
  }
}
