footer {
  padding: 25px 0;
  text-align: center;
  color: rgba(255, 255, 255);
  background-color: black;
}

footer p {
  font-size: 12px;
  margin: 0;
}

footer ul {
  margin-bottom: 0;
}

footer ul li a {
  font-size: 12px;
  color: rgba(255, 255, 255);
}

footer ul li a:hover,
footer ul li a:focus,
footer ul li a:active,
footer ul li a.active {
  text-decoration: none;
}

.copy-right {
  margin-top: 20px;
}
.icons-footer{
  font-size: 0.9em;
}
.bank-icons{
  text-align: left;
}
.social-icons{
  text-align: right;
}

@media (max-width: 768px){
  .bank-icons, .social-icons{
    text-align: center;
    padding: 10px 0;
  }
}