footer {
  padding: 25px 0;
  text-align: center;
  color: rgb(235, 252, 251);
  background: linear-gradient(to left, #01012b, #000000);
}

footer p {
  font-size: 12px;
  margin: 0;
}

footer ul {
  margin-bottom: 0;
}

footer ul li a {
  font-size: 12px;
  color: rgb(0, 217, 255);
}
.footer-link {
  color: rgb(251, 255, 255);
}
footer ul li a:hover,
footer ul li a:focus,
footer ul li a:active,
footer ul li a.active {
  text-decoration: none;
}

.copy-right {
  margin-top: 20px;
}
.icons-footer img {
  height: 32px;
  width: 32px;
  margin: 0 6px;
  background: white;
}
.icons-footer {
  font-size: 0.9em;
}
.bank-icons {
  text-align: left;
}
.bank-icons img {
  height: 35px;
  width: 58px;
  padding: 1px;
  border-radius: 5px;
  margin: 1px 4px;
}
.bank-icons p {
  padding: 3px;
  font-size: 1em;
}
.social-icons {
  text-align: right;
}

.payment-text-wrapper {
  width: 300px;
  margin-top: 23px;
}

.payment-wrapper {
  position: absolute;
  bottom: 10px;
}

@media (max-width: 768px) {
  .bank-icons,
  .social-icons {
    text-align: center;
    padding: 10px 0;
  }
  .payment-text-wrapper {
    width: auto;
    margin-top: 0px;
    margin-bottom: 15px;
  }
  .payment-wrapper {
    position: relative;
  }
}
