.product-controllers span {
  min-width: 40px;
  display: inline-block;
  text-align: center;
}
.price-wrapper {
  min-width: 80px !important;
}
.product-list-wrapper {
  margin-top: 10px;
}
.total-price {
  font-weight: 1000;
  height: 40px;
  background-color: #cecece !important;
  color: rgb(255, 30, 0);
}
.total-price .paid-stamp {
  margin-left: 10%;
}
.total-price .paid-stamp img {
  height: 100%;
  transform: rotate(-20deg);
  position: absolute;
}
