.product-controllers span {
  min-width: 40px;
  display: inline-block;
  text-align: center;
}
.price-wrapper {
  min-width: 72px !important;
}
.product-list-wrapper {
  margin-top: 10px;
}
.total-price {
  font-weight: 1000;
  height: 40px;
  background-color: #cecece !important;
  color: rgb(255, 30, 0);
}
.total-price .paid-stamp {
  margin-left: 10%;
}
.total-price .paid-stamp img {
  height: 100%;
  transform: rotate(-20deg);
  position: absolute;
}

.list-group-item .value {
  float: right;
}
.list-group-item .name {
  color: #541515;
  font-weight: 700;
  float: left;
}
@media (max-width: 620px){
  .list-group-item .value{
    float: none;
    text-align: center;
    display: block;
  }
  .list-group-item .name {
    float: none;
    text-align: center;
    display: block;
    margin-bottom: 5px;
  }
}