.product-controllers span {
  min-width: 40px;
  display: inline-block;
  text-align: center;
}
.price-wrapper {
  min-width: 80px !important;
}
.product-list-wrapper {
  margin-top: 10px;
}
.total-price {
  font-weight: 1000;
  font-height: 900;
  height: 40px;
  background-color: #cecece !important;
  color:rgb(255, 30, 0)
   
}
