.order-form-wrapper {
  background-color: rgb(16, 13, 184);
  width: 90%;
  border: 1px solid rgb(243, 117, 0);
  border-radius: 3px;
 
}
.list-group-item {
  padding: 0.3rem 0.5rem !important;
}
.parent {
  font-weight: 900;
  color: rgba(255, 123, 0, 0.774);
}
.order-form-wrapper .date-picker-wrapper .react-datepicker__input-container,
.order-form-wrapper .date-picker-wrapper .react-datepicker-wrapper {
  width: 100%;
}

.pickup-img {
  height: 30%;
  width: 30%;
  margin: 0 auto;
}
.date-label-wrapper {
  padding-top: 15px;
  text-align: center;
  font-weight: 700;
}
.float-section{
  position: fixed;
  bottom: 0;
}

#order .sticky .button-controllers-navigator{
  background: rgba(104, 104, 119, 0.73);
  border-radius: 5px;
}