#info {
  background: linear-gradient(to left, #ff9c1b, #ff8d21);
  color: rgb(255, 255, 255);
}

section#info {
  padding: 50px 0;
}

.bug3 {
  height: 300px;
  width: 100%;
  padding: 5px;
}
.bug1 {
  height: 300px;
  width: 100%;
  padding: 5px;
}
.bug2 {
  height: 300px;
  width: 500px;
}
.info.description {
  color: #ffff;
}
.info p {
  text-align: justify;
}
