#info {
  background-color: #1d703d;
  color: white;
}

section#info {
  padding: 50px 0;
}

.bug3 {
  height: 300px;
  width: 100%;
  padding: 5px;
}
.bug1 {
  height: 300px;
  width: 100%;
  padding: 5px;
}
.bug2 {
  height: 300px;
  width: 500px;
}
.info.description {
  color: #ffff;
}
<<<<<<< HEAD
.info.description{
    color:rgb(32, 32, 32)
=======
.info p {
  text-align: justify;
>>>>>>> a70581f0eb633f88dbf6d9ae4cc3137f4240dc52
}
