.step {
  border-radius: 50%;
  text-align: center;
  padding-bottom: 20px;
}
.step img {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  max-width: 270px;
}
.step .step-title{
  font-weight: 600;
  margin-bottom: 2px;
}
@media (max-width: 768px) {

}
