#business {
  background: #f5a53d;
  color: #fff;
}
#business h5 {
  font-size: 1em;
  font-weight: 600;
  text-align: justify;
}

.business-img-wrapper {
  text-align: center;
  padding-bottom: 10px;
}

.business-img-wrapper img {
  width: 100%;
}

.business-message {
  margin-bottom: 16px;
}

@media (max-width: 768px) {
  #business h2 {
    text-align: center;
  }
  #business p {
    text-align: justify;
    word-spacing: -2px;
  }
}
