#business {
  background: #ebb758
}

.business-img-wrapper {
  text-align: center;
  padding-bottom: 10px;
}

.business-img-wrapper img {
  width: 100%;
}

.business-message {
  text-align: justify; 
  margin-bottom: 16px;
  
}

