.switch-language-wrapper {
  color: white;
  position: absolute;
  cursor: pointer;
}
.switch-language-wrapper img{
  height: 20px;
  width: 30px;
}
.switch-language-wrapper .active-lang{
  font-weight: 700;
}
.switch-language-wrapper .active-lang img{
  cursor: auto;
  opacity: .5;
  /* height: 25px;
  width: 25px; */
}


